<<<<<<< HEAD
<%- include ./layouts/header.ejs %>
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
<%- include ./layouts/sidebar.ejs %>		
<!-- END SIDEBAR -->
<!-- BEGIN PAGE -->
<div class="page-content">
</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<%- include ./layouts/footer.ejs %>
=======
<%- include ./layouts/header.ejs %>
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
<%- include ./layouts/sidebar.ejs %>		
<!-- END SIDEBAR -->
<!-- BEGIN PAGE -->
<div class="page-content">
</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<%- include ./layouts/footer.ejs %>
>>>>>>> 19e170ff9077989697cca98323f6ac5fda057642
		